<div class="form-container text-center">
  <form action="/feelings" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <i class="fas fa-pencil-alt"></i><input type="text" name="feeling[content]" placeholder="what do you want to forget?" ><br>
    <i class="fas fa-yen-sign"></i><input type="text" name="feeling[price]" placeholder="how much would you pay to forget?"><br>
    <input type="submit" class="btn btn-primary">
  </form>
</div>



  <!--
  <%= simple_form_for(@feeling) do |f| %>
    <i class="fas fa-pencil-alt"></i><%= f.input :content, label: "", placeholder: "what do you want to forget?", class: "form-control-static" %>
    <i class="fas fa-yen-sign"></i>
    <%= f.input :price, placeholder: "how much would you pay to forget?" %>
    <%= f.submit "submit", class: "btn btn-primary" %>
  <% end %> -->
