<div class="form-container text-center" id="baku_form">
<% if is_baku %>
  <%= simple_form_for @feeling do |f| %>

    <h3 class="font-round-title"><!-- <span class="display-block"> -->what do you want to<!--  </span> --><span class="font-pink">forget?</span></h3>

  <%= f.input :content, label: false, error: false do %>
    <%= f.label :content do %>
    <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= f.input :content, placeholder: 'Thought you want to let go' , wrapper: false, label: false %>
  <% end %>

      <h3 class="font-round-title">set a <span class="font-pink">price</span> for your thought</h3>

    <%= f.input :price_cents, label: false, input_html: { class: 'form-control' }, placeholder: '100', input_html:{ min: '1', max: '10000' },error: false  do %>
      <%= f.label :price_cents do %>
        <i class="fas fa-yen-sign"></i>
      <% end %>

    <div class="price-area">
      <%= f.input :price_cents, wrapper: false, label: false, placeholder: '100', input_html:{ min: '1', max: '10000' } %>
      <% end %>
    </div>

    <%= f.input :is_positive, as: :hidden %>

    <%= f.button :submit, "Forget!", class: "font-round-title btn btn-pink"%>
  <% end %>

<% else %>

  <%= simple_form_for @feeling do |f| %>

  <h3 class="font-round-title"><span class="display-block">which memory</span> would you like to <span class="font-light-blue">store?</span></h3>

   <%= f.input :content, label: false, error: false do %>
    <%= f.label :content do %>
    <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= f.input :content, placeholder: 'Memory you want to store' , wrapper: false, label: false %>
  <% end %>

    <h3 class="font-round-title">set a <span class="font-light-blue">price</span> for your memory</h3>

    <%= f.input :price_cents, label: false, input_html: { class: 'form-control' }, placeholder: '100', input_html:{ min: '1', max: '10000' },error: false do %>
      <%= f.label :price_cents do %>
        <i class="fas fa-yen-sign"></i>
      <% end %>

     <div class="price-area">
      <%= f.input :price_cents, wrapper: false, label: false, placeholder: '100', input_html:{ min: '1', max: '10000' },error: false %>
      <% end %>
    </div>

    <%= f.input :is_positive, input_html: {value: true}, as: :hidden %>

    <%= f.button :submit, "Store!", class: "font-round-title btn btn-blue"%>
  <% end %>
<% end %>
</div>
