<div>
    <% if user_signed_in? %>
    <% if current_user.liked? @feeling %>
      <%= link_to unlike_feeling_path(@feeling), method: :put, class: "unlike_shot" do %>
        <span class="icon"><i class="fa fa-heart has-text-primary"></i></span>
        <span class="vote_count"><%= pluralize(@feeling.get_likes.size, 'Like') %></span>
      <% end %>
    <% else %>
      <%= link_to like_feeling_path(@feeling), method: :put, class: "like_shot" do %>
        <span class="icon"><i class="fa fa-heart"></i></span>
        <span class="vote_count"><%= pluralize(@feeling.get_likes.size, 'Like') %></span>
      <% end %>
    <% end %>
  <% else %>
      <%= link_to like_feeling_path(@feeling), method: :put, class: "like_shot" do %>
        <span class="icon"><i class="fa fa-heart"></i></span>
        <span class="vote_count"><%= pluralize(@feeling.get_likes.size, 'Like') %></span>
      <% end %>
  <% end %>
</div>
