<div id="container">
  <div class="month">
    <% if @month_feelings["Jan"].present? %>
      <% @month_feelings["Jan"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="month">
    <% if @month_feelings["Feb"].present? %>
      <% @month_feelings["Feb"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="month">
    <% if @month_feelings["Mar"].present? %>
      <% @month_feelings["Mar"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="month">
    <% if @month_feelings["Apr"].present? %>
      <% @month_feelings["Apr"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="month">
    <% if @month_feelings["May"].present? %>
      <% @month_feelings["May"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="month">
    <% if @month_feelings["Jun"].present? %>
      <% @month_feelings["Jun"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="month">
    <% if @month_feelings["Jul"].present? %>
      <% @month_feelings["Jul"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="month">
    <% if @month_feelings["Aug"].present? %>
      <% @month_feelings["Aug"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
    <div class="month">
    <% if @month_feelings["Sep"].present? %>
      <% @month_feelings["Sep"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
    <div class="month">
    <% if @month_feelings["Oct"].present? %>
      <% @month_feelings["Oct"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
    <div class="month">
    <% if @month_feelings["Nov"].present? %>
      <% @month_feelings["Nov"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
    <div class="month">
    <% if @month_feelings["Dec"].present? %>
      <% @month_feelings["Dec"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
