<div id="container">
  <div class="week">
    <% if @week_feelings["Mon"].present? %>
      <% @week_feelings["Mon"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <p class="<%= 'today' if Time.now.strftime('%a') == 'Mon' %>">Mon</p>
  </div>
  <div class="week">
    <% if @week_feelings["Tue"].present? %>
      <% @week_feelings["Tue"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <p class="<%= 'today' if Time.now.strftime('%a') == 'Tue' %>">Tue</p>
  </div>
  <div class="week">
    <% if @week_feelings["Wed"].present? %>
      <% @week_feelings["Wed"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <p class="<%= 'today' if Time.now.strftime('%a') == 'Wed' %>">Wed</p>
  </div>
  <div class="week">
    <% if @week_feelings["Thu"].present? %>
      <% @week_feelings["Thu"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <p class="<%= 'today' if Time.now.strftime('%a') == 'Thu' %>">Thu</p>
  </div>
  <div class="week">
    <% if @week_feelings["Fri"].present? %>
      <% @week_feelings["Fri"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <p class="<%= 'today' if Time.now.strftime('%a') == 'Fri' %>">Fri</p>
  </div>
  <div class="week">
    <% if @week_feelings["Sat"].present? %>
      <% @week_feelings["Sat"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <p class="<%= 'today' if Time.now.strftime('%a') == 'Sat' %>">Sat</p>
  </div>
  <div class="week">
    <% if @week_feelings["Sun"].present? %>
      <% @week_feelings["Sun"].each do |feeling| %>
        <% if feeling.is_positive %>
          <div class="animal-img">
            <%= image_tag 'pig.png', class: "mitarashi poyon" %>
          </div>
        <% else %>
          <div class="animal-img">
            <%= image_tag 'baku.png', class: "mitarashi poyon" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <p class="<%= 'today' if Time.now.strftime('%a') == 'Sun' %>">Sun</p>
  </div>
</div>
