<div class="graveyard-container">
  <div class="top-container">
    <h1 class="memorylane-title">
        Momory Lane
    </h1>
    <p>Here, you can meet all the animals<br> set to be free!</p>
  </div>
  <div class="graveyard">
    <!-- gravestone -->
    <% @buried_feelings.each do |buried_feeling| %>
      <div class="gravestone">
        <div class="thought-area">
        <%= buried_feeling.content %>
        <span class="date"><%= buried_feeling.created_at.strftime("%d %b %Y") %></span>
        </div>
        <div class="icon-area">
          <% if user_signed_in? %>
            <%= link_to like_feeling_path(buried_feeling), method: :put, class: "like_feeling" do %>
              <span class="icon"><%= image_tag 'flower_pink.png' %></span>
              <span class="vote_count"><%= pluralize(buried_feeling.get_likes.size, 'flowers') %></span>
            <% end %>
          <% else %>
          <%= link_to like_feeling_path(buried_feeling), method: :put, class: "like_feeling" do %>
              <span class="icon"><%= image_tag 'flower_pink.png' %></span>
              <span class="vote_count"><%= pluralize(buried_feeling.get_likes.size, 'flowers') %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <!-- /gravestone -->
  </div>
</div>
