<div class="memorylane-page">
  <div class="top-container">
    <h1 class="memorylane-title">
        Momory Lane
    </h1>
    <p>Here, you can meet all the animals<br> set to be free!</p>
  </div>
  <div class="memory-lane-area">
    <!-- thought -->
    <% @buried_feelings.each do |buried_feeling| %>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <% if buried_feeling.is_positive %>
              <div class="pig-front"><%= image_tag 'pig.png' %></div>
            <% else %>
              <div class="baku-front"><%= image_tag 'baku.png' %></div>
            <% end %>
          </div>
          <div class="back">
            <% if buried_feeling.is_positive %>
              <!-- pig -->
              <div class="thought-container">
                <div class="thought-area">
                <p class="thought"><%= buried_feeling.content %></p>
                <span class="date"><%= buried_feeling.created_at.strftime("%d %b %Y") %></span>
                </div>
              <%= render partial: "flower", locals: { buried_feeling: buried_feeling } %>
              </div>
            <% else %>
              <!-- baku -->
              <div class="thought-container">
                <div class="thought-area">
                  <p class="thought"><%= buried_feeling.content %></p>
                  <span class="date"><%= buried_feeling.created_at.strftime("%d %b %Y") %></span>
                </div>
                <%= render partial: "flower", locals: { buried_feeling: buried_feeling } %>
              </div>
            <% end %>
          </div><!-- /back -->
        </div><!-- /flipper -->
      </div>
    <% end %>
    <!-- /thought -->
  </div>
</div>


