<% @buried_feelings.each do |buried_feeling| %>
<%= buried_feeling.content %>
  <div>
    <% if user_signed_in? %>
      <%= link_to like_feeling_path(buried_feeling), method: :put, class: "like_feeling" do %>
        <span class="icon"><i class="fa fa-heart"></i></span>
        <span class="vote_count"><%= pluralize(buried_feeling.get_likes.size, 'Like') %></span>
      <% end %>
  <% else %>
      <%= link_to like_feeling_path(buried_feeling), method: :put, class: "like_feeling" do %>
        <span class="icon"><i class="fa fa-heart"></i></span>
        <span class="vote_count"><%= pluralize(buried_feeling.get_likes.size, 'Like') %></span>
      <% end %>
  <% end %>
  </div>
<% end %>

