<% if @feeling.is_positive %><!-- pig -->
  <div class="top-container" id="pig-confirmation">
    <h2 class="title-confirmation">Yay!<br>your memory has stored!</h2>
  </div>
  <div class="animal-container">
    <div class="thought-container pig-thought">
      <%  splited_feeling = @feeling.content.split(" ") %>
      <% splited_feeling.each do |feeling| %>
        <%= feeling %>
      <% end %>
    </div>
    <%= render 'shared/heart_svg' %>
    <div id="pig-img" class="animated tada"><%= render 'shared/pig_svg' %></div>
    <div class="payment-wrapper">
      <div class="notice-container">
          <p><i class="fas fa-check-circle"></i>You paid to <span class="font-red">store!</span><br>Here's your receipt</p>
      </div>

      <div class="receipt">
        <h4>Piggybaku<br><span>Tokyo,Japan</span></h4>
        <p class="date"><%= @feeling.created_at.strftime("%d %b %Y") %></p>
        <div class="receipt-content">
          <p><%= @feeling.content%></p><p>짜<%= @feeling.price_cents %></p>
        </div>
        <p class="total">TOTAL 짜<%= @feeling.price_cents %></p>
      </div>
    </div>
  </div>
  <div class="bottom-container">
    <div class="linkarea-container linkarea-container text-center">
      <%= link_to 'add new thought', root_path, class: "font-round-title btn btn-pink" %>
      <%= link_to 'bank activity', feelings_path, class: "font-round-title btn btn-blue" %>
    </div>
  </div>
<% else %><!-- baku -->
  <div class="top-container" id="baku-confirmation">
    <h2 class="title-confirmation">Yay!<br>Baku has eaten your thought!</h2>
  </div>
  <div class="animal-container">
    <div class="thought-container baku-thought">
      <%  splited_feeling = @feeling.content.split(" ") %>
      <% splited_feeling.each do |feeling| %>
        <%= feeling %>
      <% end %>
    </div>
    <%= render 'shared/heart_svg' %>
    <div id="baku-img" class="animated tada"><%= render 'shared/baku_svg' %></div>
    <div class="payment-wrapper">
      <div class="notice-container">
          <p><i class="fas fa-check-circle"></i>You paid to <span class="font-red">forget!</span><br>Here's your receipt</p>
      </div>

      <div class="receipt">
        <h4>Piggybaku<br><span>Tokyo,Japan</span></h4>
        <p class="date"><%= @feeling.created_at.strftime("%d %b %Y") %></p>
        <div class="receipt-content">
          <p><%= @feeling.content%></p><p>짜<%= @feeling.price_cents %></p>
        </div>
        <p class="total">TOTAL 짜<%= @feeling.price_cents %></p>
      </div>
    </div>
  </div>
  <div class="bottom-container">
    <div class="linkarea-container linkarea-container text-center">
      <%= link_to 'add new thought', root_path, class: "font-round-title btn btn-pink" %>
      <%= link_to 'bank activity', feelings_path, class: "font-round-title btn btn-blue" %>
    </div>
  </div>
<% end %>
