<div class="bankactivity-wrapper">
  <div class="summary-container">
    <h2 class="font-bold-title">You have stored <span class="marker forgot"><span class="font-red"><%= @negative_count %></span>bakus</span> and <span class="marker stored"><span class="font-red"><%= @positive_count %></span>pigs</span><br>
      You saved
      <span class="total-money">
        <% @sum = 0 %>
        <% @feelings.each do |feeling| %>
          <% @sum += feeling.price_cents %>
        <% end %>
        <span class="font-red">¥<%= @sum %></span>
      </span>
    </h2>
  </div>
  <div class="chart-container">
    <table>
      <div id="container">
        <div class="week">
          <% if @week_feelings["Mon"].present? %>
            <% @week_feelings["Mon"].each do |feeling| %>
              <% if feeling.is_positive %>
                <div class="animal-img">
                  <%= image_tag 'pig.png', class: "mitarashi poyon" %>
                </div>
              <% else %>
                <div class="animal-img">
                  <%= image_tag 'baku.png', class: "mitarashi poyon" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="week">
          <% if @week_feelings["Tue"].present? %>
            <% @week_feelings["Tue"].each do |feeling| %>
              <% if feeling.is_positive %>
                <div class="animal-img">
                  <%= image_tag 'pig.png', class: "mitarashi poyon" %>
                </div>
              <% else %>
                <div class="animal-img">
                  <%= image_tag 'baku.png', class: "mitarashi poyon" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="week">
          <% if @week_feelings["Wed"].present? %>
            <% @week_feelings["Wed"].each do |feeling| %>
              <% if feeling.is_positive %>
                <div class="animal-img">
                  <%= image_tag 'pig.png', class: "mitarashi poyon" %>
                </div>
              <% else %>
                <div class="animal-img">
                  <%= image_tag 'baku.png', class: "mitarashi poyon" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="week">
          <% if @week_feelings["Thu"].present? %>
            <% @week_feelings["Thu"].each do |feeling| %>
              <% if feeling.is_positive %>
                <div class="animal-img">
                  <%= image_tag 'pig.png', class: "mitarashi poyon" %>
                </div>
              <% else %>
                <div class="animal-img">
                  <%= image_tag 'baku.png', class: "mitarashi poyon" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="week">
          <% if @week_feelings["Fri"].present? %>
            <% @week_feelings["Fri"].each do |feeling| %>
              <% if feeling.is_positive %>
                <div class="animal-img">
                  <%= image_tag 'pig.png', class: "mitarashi poyon" %>
                </div>
              <% else %>
                <div class="animal-img">
                  <%= image_tag 'baku.png', class: "mitarashi poyon" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="week">
          <% if @week_feelings["Sat"].present? %>
            <% @week_feelings["Sat"].each do |feeling| %>
              <% if feeling.is_positive %>
                <div class="animal-img">
                  <%= image_tag 'pig.png', class: "mitarashi poyon" %>
                </div>
              <% else %>
                <div class="animal-img">
                  <%= image_tag 'baku.png', class: "mitarashi poyon" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="week">
          <% if @week_feelings["Sun"].present? %>
            <% @week_feelings["Sun"].each do |feeling| %>
              <% if feeling.is_positive %>
                <div class="animal-img">
                  <%= image_tag 'pig.png', class: "mitarashi poyon" %>
                </div>
              <% else %>
                <div class="animal-img">
                  <%= image_tag 'baku.png', class: "mitarashi poyon" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </table>
  </div>
  <div class="record-container">
    <div class="record-wrap onhidden">
      <h2 class="font-round-title">Bank Activity</h2>
      <%= render partial: "shared/messages", feeling: @feelings %>
      <div class="readmore"><span>display more</span><i class="fas fa-angle-double-down"></i></div>
    </div>
    <div class="total-money text-right">
      <% @sum = 0 %>
      <% @feelings.each do |feeling| %>
      <% @sum += feeling.price_cents %>
      <% end %>
      <p class="font-round-title">Total: ¥<%= @sum %></p>
    </div>
  </div>

  <div class="linkarea-container linkarea-container text-center">
    <%= link_to 'add a new thought', root_path, class: "font-round-title btn btn-pink" %>
  </div>
</div>

<%= content_for :after_js do %>
  <script type="text/javascript">
    const looopAnimation = (targetClass, className, delay) => {
      var elements = document.querySelectorAll(targetClass);

      elements.forEach((element) => {

        element.addEventListener("animationend", () => {
          element.classList.remove(className);
        });

        element.addEventListener("touchstart", (event) => {
          event.preventDefault();

          setTimeout(() => {
            element.classList.add(className);
          }, delay);
        });
      });
    };


  looopAnimation(".mitarashi", "poyon", 300);
  </script>
<% end %>
