<div class="container">
  <div class="row">
      <div class="col-xs-6 col-sm-6">
        <div class="card">
          <%= image_tag 'baku.png' %>
          <div class="card-description">
            <h1><%= @negative_count %></h1>
          </div>
        </div>
        <div class="card">
          <%= image_tag 'pig.png' %>
          <div class="card-description">
            <h1><%= @positive_count %></h1>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <div>
    <% @negative_count.times do  %>
      <%= image_tag 'baku.png' %>
    <% end %>
  </div>
</div>



<%= render partial: "shared/messages", feeling: @feelings %>
