<div class="contents-wrapper">
  <h2>Bank Activity</h2>
    <div class="summary-container">
    <h3 class="font-round-title">You have stored <span class="font-red"><%= @negative_count %></span>bakus and <span class="font-red"><%= @positive_count %></span>pigs.<br>
      You saved
      <span class="total-money">
        <% @sum = 0 %>
        <% @feelings.each do |feeling| %>
          <% @sum += feeling.price_cents %>
        <% end %>
        <span class="font-red">¥<%= @sum %></span>
      </span>
    </h3>
  </div>
  <div class="chart-container">
    <div class="horizontal">
      <% @negative_count.times do  %>
        <div class="animal-img"><%= image_tag 'baku.png' %></div>
      <% end %>
      <div class="anima-total font-round-title"><%= @negative_count %></div>
    </div>
    <div class="horizontal">
      <% @positive_count.times do  %>
        <div class="animal-img"><%= image_tag 'pig.png' %></div>
      <% end %>
      <div class="anima-total font-round-title"><%= @positive_count %></div>
    </div>
  </div>
  <div class="record-container">
    <%= render partial: "shared/messages", feeling: @feelings %>
  </div>

  <div class="linkarea-container linkarea-container text-center">
    <%= link_to 'add a new thought', root_path, class: "font-round-title btn btn-pink" %>
  </div>
</div>
