<div class="bankactivity-wrapper">
    <div class="summary-container">
    <h3 class="font-bold-title">You have stored <span class="marker forgot"><span class="font-red"><%= @negative_count %></span>bakus</span></span> and <span class="marker stored"><span class="font-red"><%= @positive_count %></span>pigs</span><br>
      You saved
      <span class="total-money">
        <% @sum = 0 %>
        <% @feelings.each do |feeling| %>
          <% @sum += feeling.price_cents %>
        <% end %>
        <span class="font-red">¥<%= @sum %></span>
      </span>
    </h3>
  </div>
  <div class="chart-container">
    <div class="horizontal">
      <% @negative_count.times do  %>
        <div class="animal-img">
          <%= image_tag 'baku.png', class: "mitarashi poyon" %>
        </div>
      <% end %>
      <div class="anima-total font-round-title"><%= @negative_count %></div>
    </div>
    <div class="horizontal">
      <% @positive_count.times do  %>
        <div class="animal-img">
          <%= image_tag 'pig.png', class: " mitarashi poyon" %>
        </div>
      <% end %>
      <div class="anima-total font-round-title"><%= @positive_count %></div>
    </div>
  </div>
  <div class="record-container onhidden">
    <h2 class="font-round-title">Bank Activity</h2>
    <%= render partial: "shared/messages", feeling: @feelings %>
    <div class="readmore"><span>display more</span><i class="fas fa-angle-double-down"></i></div>
  </div>

  <div class="linkarea-container text-center">
    <%= link_to 'add a new thought', root_path, class: "font-round-title btn btn-pink" %>
  </div>
</div>


<%= content_for :after_js do %>
  <script type="text/javascript">
    const looopAnimation = (targetClass, className, delay) => {
      var elements = document.querySelectorAll(targetClass);

      elements.forEach((element) => {

        element.addEventListener("animationend", () => {
          element.classList.remove(className);
        });

        element.addEventListener("touchstart", (event) => {
          event.preventDefault();

          setTimeout(() => {
            element.classList.add(className);
          }, delay);
        });
      });
    };


  looopAnimation(".mitarashi", "poyon", 300);
  </script>
<% end %>
