<div class="top-container">
  <h1 class="logo-container"><%= image_tag 'title_img.png' %></h1>
  <div class="animal-container">
    <div class="animal-img hidden" id="piggy-img"><%= image_tag 'pig.png' %></div>
    <div class="animal-img" id="baku-img"><%= image_tag 'baku.png' %></div>
  </div>
</div>
<div class="form-container">
  <div id="baku-form">
    <%= render partial: "form", locals: { feeling: @feeling, is_baku: true } %>
  </div>
  <div class="hidden" id="piggy-form">
   <%= render partial: "form", locals: { feeling: @feeling, is_baku: false } %>
 </div>
</div>
