
<% if @feeling.user == current_or_guest_user %>



<div class="container">
  <div class="row">

      <div class="product">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>*</div>
        </div>
        <div class='product-body'>
          <h3> My Message : <%= @feeling.content %> </h3>
          <p><%= @feeling.price_cents %></p>
        </div>
         <div class="col-xs-3">
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li>
            <%= link_to edit_feeling_path(@feeling) do %>
              <i class="far fa-edit"></i>
              <% end %>
          </li>
          <li>
            <%= link_to feeling_path(@feeling), remote: true, method: :delete do %>
             <i class="fas fa-trash-alt"></i>
            <% end %>
          </li>
          <li>
            <%= link_to new_feeling_donation_path(@feeling) do %>
              <i class="fas fa-hand-holding-usd"></i>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% if @feeling.is_buried %>
<% else %>
<div>
  <%= simple_form_for @feeling, url: bury_feeling_path(@feeling), method: :put do |f| %>
    <%= f.button :submit, "Bury!", class: "btn btn-warning btn-block"%>
  <% end %>
  </div>
<% end %>

<% else %>
  <h3>Sorry, you're not the owner of the feeling.</h3>
<% end %>

