<!-- record -->
<% @feelings.each do |feeling| %>
  <div class="record clickable" data-toggle="modal" data-target="#<%= feeling.id %>">
    <div class="record-date">
      <%= feeling.created_at.strftime("%d %b %Y") %>
    </div>
    <div class="record-body">
      <% if feeling.is_positive %>
        <p class="status">
          <span class="flag font-round-title stored">stored</span>
          <span class="icon"><i class="fas fa-heart"></i></span>
          <span class="badge badge-warning"><%= feeling.flowers %></span>
          <% if feeling.is_donated %>
            <span class="icon donated-icon"><i class="fas fa-seedling"></i>
          <% else %>
            <span class="icon donate-icon"><i class="fas fa-seedling"></i>
          <% end %>
        </p>
        <p class="thought"><%= feeling.content %></p>
      <% else %>
        <p class="status">
          <span class="flag font-round-title forgot">forgot</span>
          <span class="icon"><i class="fas fa-heart"></i></span>
          <span class="badge badge-info"><%= feeling.flowers %></span>
        </p>
        <p class="thought">************<!-- <i class="fas fa-eye"></i> --></p>
      <% end %>
    </div>
    <div class="record-status">
      <p class="price">¥<%= feeling.price_cents %></p>
    </div>
    <div class="icon"><i class="fas fa-ellipsis-v"></i></div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="<%= feeling.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"><%= feeling.created_at.strftime("%d %b %Y") %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-content-container">
            <div class="content"><%= feeling.content %></div>
            <div class="price">¥<%= feeling.price_cents %></div>
          </div>
          <div class="action-container text-right">
            <%= link_to edit_feeling_path(feeling) do %>
              edit<i class="far fa-edit"></i>
            <% end %>
            <%= link_to feeling_path(feeling), method: :delete, :data => {confirm: "Delete this entry?"} do %>
              delete<i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
        <div class="modal-link">
          <% if feeling.is_positive? %><!-- positive -->
            <h3>Do you want to spread your happiness?<br>
                Donate to the NPO of the month!</h3>
            <%= link_to new_feeling_donation_path(feeling), class:"btn btn-pink" do %>
                donate <i class="fas fa-seedling"></i>
            <% end %>
            <h3>Share your happiness!<br>
            Send your thought to the memory lane.</h3>
            <div>
              <%= simple_form_for feeling, url: bury_feeling_path(feeling), method: :put do |f| %>
                <%= button_tag type: :submit, class:"btn btn-blue" do %>
                  memory lane
                <% end %>
              <% end %>
            </div>
            <% else %><!-- negative -->
             <h3>Are you totally over it?<br>
            Send your thought to the memory lane.</h3>
            <div>
              <%= simple_form_for feeling, url: bury_feeling_path(feeling), method: :put do |f| %>
                <%= button_tag type: :submit, class:"btn btn-blue" do %>
                  memory lane
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- /Modal -->
<% end %><!-- /record -->

