
<% @feelings.each do |feeling| %>
  <%= link_to feeling_path(feeling) do %>
    <div class="record">
      <div class="record-date">
        <%= feeling.created_at.strftime("%d %b %Y") %>
      </div>
      <div class="record-body">
        <% if feeling.is_positive %>
          <p class="status"><span class="flag font-round-title stored">stored</span></p>
          <p class="thought"><%= feeling.content %></p>
        <% else %>
          <p class="status"><span class="flag font-round-title forgot">forgot</span></p>
          <p class="thought">************<!-- <i class="fas fa-eye"></i> --></p>
        <% end %>
      </div>
      <div class="record-status">
        <p class="price">¥<%= feeling.price_cents %></p>
      </div>
      <div class="icon"><i class="fas fa-arrow-circle-right"></i></div>
    </div>
  <% end %>
<% end%>
<div class="total-money text-right">
  <% @sum = 0 %>
  <% @feelings.each do |feeling| %>
    <% @sum += feeling.price_cents %>
  <% end %>
  <p class="font-round-title">Total: ¥<%= @sum %></p>
</div>
