<nav>
  <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
        <ul>
          <li class="home-nav">
            <%= link_to root_path do %>
              home
              <div class="nav-imgs animated">
              <%= image_tag 'baku.png' %>
              <%= image_tag 'pig.png' %>
              </div>
            <% end %>
          </li>
          <li><%= link_to "bank activity", feelings_path %></li>
          <li><%= link_to "memory lane",  memory_feelings_path %></li>
          <li><%= link_to "what's Piggy Baku?",  about_path %></li>
          <li class="user-area">
            <ul>
              <% if user_signed_in? %>
                <li class="greeting">Hi,<%= current_or_guest_user.username %> <i class="far fa-smile"></i></li>
                <% if guest_user? %>
                  <li class="sign-up">
                    <%= link_to new_user_registration_path do %>
                      sign up<i class="fas fa-user-plus"></i>
                    <% end %>
                  </li>
                  <li class="edit">
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <%= t(".sign_out", default: "sign out") %>
                      <i class="fas fa-sign-out-alt"></i>
                    <% end %>
                  </li>
                <% else %>
                  <li class="edit">
                    <%= link_to edit_user_registration_path do %>
                      edit your profile<i class="fas fa-pencil-alt"></i>
                    <% end %>
                  </li>
                  <li class="sign-out">
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <%= t(".sign_out", default: "sign out")%>
                      <i class="fas fa-sign-out-alt"></i>
                    <% end %>
                  </li>
                <% end %>
              <% else %><!-- /user -->
                <li class="sign-up">
                  <%= link_to new_user_registration_path do %>
                    <%= t(".sign_up", default: "sign up") %>
                    <i class="fas fa-user-plus"></i>
                  <% end %>
                </li>
                <li class="log-in">
                  <%= link_to new_user_session_path do %>
                    <%= t(".sign_in", default: "log in") %>
                    <i class="fas fa-sign-in-alt"></i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</nav>
