
<div class="container">
  <div class="row text-center">
    <div col-xs-3>
      <div>
       <%= image_tag 'piggy-baku-about.png', class: "img-responsive" %>
      </div>
    </div>
    <div col-xs-3>
      <div>
       <%= image_tag 'piggy-baku-about_2.png', class: "img-responsive" %>
      </div>
      <div>
        <button type="button" class="btn btn-danger">Try this</button>
      </div>
      <div>
        <%= image_tag 'piggy-baku-about-why.png',class: "img-responsive" %>
        <%= render 'shared/carrousel' %>
      </div>
      <div>
        <button type="button" class="btn btn-danger">Try this</button>
      </div>
       <div>
       <%= image_tag 'piggy-baku-about_block.png', class: "img-responsive" %>
      </div>
      <div>
        <button type="button" class="btn btn-danger">Try this</button>
      </div>
    </div>
  </div>
</div>

