
  <div class="donation-header">
    <div class=record-container>
        <a href="http://2hj.org/"><h2 class="font-round-title"> Second Harvest Japan (2HJ) </h2></a>
    </div>
  </div>
    <div class="npo-image text-center">
    <%= image_tag 'second_harvest.jpg' %>
    </div>
<div class="container">

  <div class="donation-type text-center font-rount-title">
<!--     <p> <%= image_tag 'pig_icon.png' %> Pay it forward! Share your happiness! </p>
    </div> -->
    <div class="npo-description text-left text-justify font-weight-light">
    <p> Second Harvest Japan aims to provide everyone with access to safe and nutritious food on a daily basis. To do so, they deliver food to children's homes, single-mother shelters, centers for the disabled as well as many other welfare organizations and individuals in need. All your donations go towards delivering food to those in need. For every 25 yen you donate, they are able to provide one meal to those in need. </p>
  </div>
  <div class="animated slideInRight slide-in"><p> <%= image_tag 'pig_icon.png' %> Pay it forward! Share your happiness! </p>
  </div>
  <div>
    <%= form_tag feeling_donations_path(@feeling) do %>
      <article>
      </article>
      <div class="text-center">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="My Donation"
        data-email="<%= current_user.email %>"
        data-description="Feeling <%= @feeling.content %>"
        data-amount="<%= @feeling.price_cents %>"
        data-currency="<%= @feeling.price_currency %>"
        data-label="Donate ¥<%= @feeling.price %>"></script>
    <% end %>
    </div>
  </div>
</div>
