<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Piggybaku | secret bank for sensitive people</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
    <%= render 'shared/sns-meta' %>
  </head>
  <body class="controller-name-<%= controller_name %> action-name-<%= action_name %>">
    <div class="wrapper">
          <%= render 'shared/navbar' %>
          <%= render 'shared/flashes' %>
          <%= yield %>
          <%= javascript_include_tag 'application' %>
          <%= javascript_pack_tag 'application' %>
          <%= yield(:after_js) %>
    </div>
    <!--<%= render 'shared/footer' %>-->
  </body>
</html>
